@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  overflow-x: hidden !important;
  background-color: #180b3b !important;
  background-image: url("./asset/images/default_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  position: relative;
  scroll-behavior: smooth;
}

.demoScroll {
  overflow-y: auto;
}

.sc5::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.sc5::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sc5::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00aeff, #a68eff);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}
